<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if current_user.id == @book.user_id %>
        <%= link_to "Edit", edit_user_path(@book) %>
        <%= link_to "Destroy", book_path(@book), method: :delete, "date-confirm" => "Are you sure?" %>
      <% end %>
    </tr>
  </tbody>
</table>